<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TwitterConsumerKey</key>
	<string>xy3pieSPdyHddwKmc9Ntp5rBd</string>
	<key>TwitterSecretKey</key>
	<string>3aVRYboPGZ1p59C19yckBlswu7GCdWJVr0RAbmaL8v32FAHCfP</string>
</dict>
</plist>
